<!DOCTYPE html>
<html>
<head>
  <title>MeetupApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


	<header>
    <h1>Meetup DB</h1>
    <nav>
      <br>
      <h3><%= link_to "Events", events_url %> |
      <%= link_to "Venues", venues_url %></h3> 
     
    </nav>
  </header>

<%= yield %>

<footer>
    <br>
    &copy;Brian Fruin 2013
</footer>

</body>
</html>
