<h2>Venues:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
<!--     <td><%= venue.name %></td>
 -->
    <td><%= link_to venue.name, venue %></td>

    <td><%= venue.address %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Delete', venue, method: :delete, data: { confirm: "Are you sure?\nThis will delete all events at this venue." } %></td>
  </tr>
<% end %>
</table>

<br />

<h2><%= link_to 'Add a Venue', new_venue_path %></h2>
